<!doctype html>
 <html>
    <head><title>Finstagram</title></head>
     <body>
         <header>
           <h1>Finstagram</h1>
         </header>
          <main role="main"></main>
           <p> Hello World!! 
           My name is Sultana Tamanna
           I work in School which I love. </p>
            <p> I am trying to learn Coding for the first time. Here is a link for it. <a href=https://codepen.io/accounts/signup/user/free >CodePen</a> Wish me luck!</p>
             <p> This is me!</p>
      
              <img src= https://i.pinimg.com/564x/c7/3f/bb/c73fbbae85c1ef57be4e09d4fc9458f0.jpg alt="This is me!">
    </body>
 </html>
